.w-100{
    width: 100%;
}

 .h-100vh{
    height: 100vh;
 }

.h-50vh{
   height: 50vh;
}


 .position-absolute{
    position:absolute;
 }
 top-0{
    top: 0;
 }

 .left-0{
    left: 0;
 }

 .d-flex{
   display: flex;
}

.justify-conten-center{
   justify-content: center;
}

.align-items-center{
   align-items: center;
}
 .flex-flow-column{
   flex-flow: column;
 }

 .card{
   -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
   -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
   box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);   
 }

 .cursor-pointer{
   cursor: pointer;
 }